.env
/nginx/site-available/
!/nginx/site-available/ecosystem.conf
/nginx/log/*
!/nginx/log/.gitkeep
/php/bash_aliases
/php/custom_crontab
/php/conf.d/custom.ini
/php/logrotate.d/*
!/php/logrotate.d/sample
